<div class="container">
	<main class="d-flex flex-column align-items-center">
		<img class="main-logo" src="slikajosvoji-logo.webp" alt="SlikajOsvoji full logo">
		<h1 class="pt-5">Slikaj Osvoji</h1>
		<hr>
		<p>Dobrodošli na Slikaj Osvoji!</p>
		<p>Učestvujte u našim zabavnim foto izazovima na društvenim mrežama i osvojite sjajne nagrade.</p>
		<p>Slikajte, podelite i učestvujte u našim nagradnim igrama za priliku da osvojite neverovatne poklone!</p>
		<p>Pridružite se zabavi i počnite da pobeđujete već danas!</p>
		<p>Pratite nas na društvenim mrežama kako bi saznali pravila igre.</p>
		<div class="brand-container">
			<a href="https://www.instagram.com/slikajosvoji/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			<a href="https://www.tiktok.com/@slikaj.osvoji" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
			<a href="https://www.facebook.com/share/xfaBZgok2aRLXGmN/?mibextid=LQQJ4d" target="_blank"><i
					class="fa-brands fa-facebook"></i></a>
		</div>
	</main>
</div>
<div class="so-float-copyright">© SlikajOsvoji 2024-2025</div>